In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/Gross_national_income'

In [3]:
tables = pd.read_html(url)

In [4]:
tables

[                                    Economic sectors
                                   Three-sector model
 0  Primary sector (raw materials)Secondary sector...
 1                                 Additional sectors
 2  Quaternary sector (information services)Quinar...
 3                                          Theorists
 4          AGB Fisher · Colin Clark · Jean Fourastié
 5                               Sectors by ownership
 6  Business sector · Private sector · Public sect...
 7  .mw-parser-output .navbar{display:inline;font-...,
                                          Grey market
 0  Types Automobile Broadcast piracy Cellular pho...
 1  Legal aspects Copyright infringement First-sal...
 2  Political aspects Agorism Anarchism Copyleft C...
 3  Related subjects White market Informal economy...
 4                                                vte,
                                                     0
 0                                 Part of a series on
 1                                    Economic systems
 2          Major types Capitalism Socialism Communism
 3   By ideology Associative Capitalist Corporate D...
 4   By coordination Closed (autarky) Decentralized...
 5   By regional model Asian East Asian Chinese Sin...
 6   Sectors Common ownership Private Public Voluntary
 7   Property types Collective ownership Commons (C...
 8   Transition Collectivization Communization Corp...
 9   Coordination Barter Market Free Open Regulated...
 10  Other types Commons-based peer production Expe...
 11                      Business and economics portal
 12                                                vte,
   No.         Country GNI (Atlas method)[8]            GNI[9]          \
   No.         Country             value (a) a - GDP value (b) b - GDP
 0   1   United States              20636317   91974  20837347  293004
 1   2           China              13181372 -426779  13556853  -51298
 2   3           Japan               5226599  255276   5155423  184100
 3   4         Germany               3905321  -42299   4058030  110410
 4   5          France               2855844  -45685   2832584   43684
 5   6  United Kingdom               2777405  -77891   2816805  -38491
 6   7           India               2727893    9161   2691040  -27692
 7   8           Italy               2038376  -45488   2106525   22661
 8   9          Brazil               1902286   16804   1832170  -53312
 9  10          Canada               1665565  -47776   1694054  -19287

     GDP[10]
     GDP[10]
 0  20544343
 1  13608151
 2   4971323
 3   3947620
 4   2804484
 5   2855296
 6   2718732
 7   2083864
 8   1885482
 9   1713341  ,
     Rank            2021    2021.1            2014    2014.1            2013  \
 0      1   United States  23393117   United States  17611491   United States
 1      2           China  17576648           China  10096966           China
 2      3           Japan   5124619           Japan   5339076           Japan
 3      4         Germany   4350736         Germany   3853623         Germany
 4      5  United Kingdom   3170239          France   2844284          France
 5      6           India   3123967  United Kingdom   2801499  United Kingdom
 6      7          France   3002339          Brazil   2429720          Brazil
 7      8           Italy   2125095           Italy   2147247           Italy
 8      9          Canada   1975687           India   2027964          Russia
 9     10     South Korea   1820500          Russia   1930634           India
 10    11          Russia   1732532          Canada   1785099          Canada
 11    12          Brazil   1558511       Australia   1444201       Australia
 12    13       Australia   1528228           Spain   1366027           Spain
 13    14           Spain   1432586     South Korea   1365797     South Korea
 14    15          Mexico   1260700          Mexico   1237533          Mexico

       2013.1            2012    2012.1            2011  ...            2010  \
 0   17001290   United States  16501016   United States  ...   United States
 1    9110333           China   7934721           China  ...           China
 2    5899905           Japan   6101579           Japan  ...           Japan
 3    3809927         Germany   3754154         Germany  ...         Germany
 4    2869883          France   2824713          France  ...          France
 5    2695974  United Kingdom   2612525  United Kingdom  ...  United Kingdom
 6    2486874          Brazil   2432061           Italy  ...           Italy
 7    2130760           Italy   2143583          Brazil  ...          Brazil
 8    1981791           India   1892548           India  ...           India
 9    1952847          Russia   1823299          Canada  ...          Canada
 10   1848274          Canada   1773264          Russia  ...           Spain
 11   1514269           Spain   1396221           Spain  ...          Russia
 12   1376929       Australia   1359417     South Korea  ...     South Korea
 13   1298958     South Korea   1232164       Australia  ...          Mexico
 14   1202800          Mexico   1167292          Mexico  ...       Australia

       2010.1            2009    2009.1            2008    2008.1  \
 0   15143137   United States  14740580   United States  15002428
 1    5752320           China   4856999           Japan   4835553
 2    5376601           Japan   4797984           China   4070860
 3    3662524         Germany   3588452         Germany   3601765
 4    2847703          France   2831553  United Kingdom   2904224
 5    2540957  United Kingdom   2666939          France   2800864
 6    2234508           Italy   2227358           Italy   2222143
 7    1916260          Brazil   1572431           Spain   1490975
 8    1555615           Spain   1519339          Canada   1484345
 9    1511465          Canada   1447937          Brazil   1427429
 10   1496363           India   1392779          Russia   1368593
 11   1425123          Russia   1318495           India   1229139
 12   1053302     South Korea   1037381     South Korea   1118647
 13   1026316          Mexico    988663          Mexico   1074555
 14   1025186       Australia    954754       Australia    900062

               2007    2007.1            2006    2006.1
 0    United States  14651211   United States  14345565
 1            Japan   4812119           Japan   4931413
 2          Germany   3348291         Germany   3160529
 3            China   3283519           China   2685206
 4   United Kingdom   2835805  United Kingdom   2645489
 5           France   2576642          France   2414820
 6            Italy   2093640           Italy   1989288
 7           Canada   1356017           Spain   1241641
 8            Spain   1353031          Canada   1224994
 9           Brazil   1152772     South Korea    966585
 10           India   1117463           India    941326
 11     South Korea   1091726          Mexico    921879
 12          Russia   1079991          Brazil    898063
 13          Mexico   1000700          Russia    830146
 14     Netherlands    809106     Netherlands    753205

 [15 rows x 21 columns],
     Rank            2021    2021.1            2016    2016.1            2014  \
 0      1           China  27070110           China  21366057           China
 1      2   United States  23393117   United States  18749688   United States
 2      3           India  10059402           India   8594226           India
 3      4           Japan   5601433           Japan   5443842           Japan
 4      5         Germany   4961000         Germany   4394786         Germany
 5      6          Russia   4668845          Brazil   4175469          Brazil
 6      7          France   3499765          Russia   3305725          Russia
 7      8       Indonesia   3471169       Indonesia   2929424          France
 8      9          Brazil   3328105          France   2835242       Indonesia
 9     10  United Kingdom   3327025  United Kingdom   2763382  United Kingdom
 10    11           Italy   2745846           Italy   2316529           Italy
 11    12          Turkey   2553209          Mexico   2262919          Mexico
 12    13          Mexico   2544720          Turkey   1907486     South Korea
 13    14     South Korea   2457443     South Korea   1833914          Canada
 14    15          Canada   1976965    Saudi Arabia   1799740           Spain

       2014.1            2013    2013.1            2012  ...            2010  \
 0   17966893   United States  17091162   United States  ...   United States
 1   17823200           China  16418959           China  ...           China
 2    7292778           India   6699996           India  ...           India
 3    4846688           Japan   4844841           Japan  ...           Japan
 4    4243163         Germany   4097775         Germany  ...         Germany
 5    3809390          Brazil   3651266          Brazil  ...          Brazil
 6    3237388          Russia   3108506          Russia  ...          Russia
 7    2655517          France   2625346          France  ...          France
 8    2592315  United Kingdom   2483802  United Kingdom  ...  United Kingdom
 9    2550078       Indonesia   2436810       Indonesia  ...           Italy
 10   2155153           Italy   2148502           Italy  ...       Indonesia
 11   2111206          Mexico   1939753          Mexico  ...          Mexico
 12   1696955     South Korea   1652081     South Korea  ...     South Korea
 13   1576495    Saudi Arabia   1549822           Spain  ...           Spain
 14   1556600          Canada   1535440    Saudi Arabia  ...          Canada

       2010.1            2009    2009.1            2008    2008.1  \
 0   15121133   United States  14494460   United States  14791194
 1   12305378           China  11017654           China  10090052
 2    5314158           India   4783856           Japan   4433212
 3    4437371           Japan   4192471           India   4376743
 4    3505460         Germany   3407922         Germany   3286644
 5    3157522          Brazil   2953733          Brazil   2836486
 6    2837672          Russia   2678150          Russia   2597648
 7    2381563          France   2291855  United Kingdom   2343012
 8    2281280  United Kingdom   2272667          France   2310555
 9    2054019           Italy   2016501           Italy   2050607
 10   1949021       Indonesia   1798541       Indonesia   1705066
 11   1710132          Mexico   1597656          Mexico   1611372
 12   1506812           Spain   1492658           Spain   1508412
 13   1486687     South Korea   1393108     South Korea   1405612
 14   1336646          Canada   1279702          Canada   1313134

               2007    2007.1            2006    2006.1
 0    United States  14585723   United States  14140770
 1            China   8991462           China   7637790
 2            Japan   4408333           Japan   4180595
 3            India   4138987           India   3658435
 4          Germany   3170077         Germany   3006891
 5           Brazil   2724769          Brazil   2603694
 6   United Kingdom   2325258  United Kingdom   2270766
 7           Russia   2288657          France   2094160
 8           France   2224097          Russia   2071669
 9            Italy   1971909           Italy   1865144
 10       Indonesia   1568263       Indonesia   1434248
 11          Mexico   1516236          Mexico   1432295
 12           Spain   1447718           Spain   1346277
 13     South Korea   1350407     South Korea   1246382
 14          Canada   1271027          Canada   1212200

 [15 rows x 23 columns],
                                                0
 0  Library resources about Gross national income
 1                      Resources in your library,
                vteLists of countries by GDP rankings  \
 0                                            Nominal
 1                       Purchasing power parity(PPP)
 2                                        Growth rate
 3                        Gross national income (GNI)
 4                                Countries by region
 5                              Subnational divisions
 6  Lists of countries by financial rankings List ...

              vteLists of countries by GDP rankings.1
 0  Per capita Past and projected per capita Secto...
 1  Per capita Past per capita Past and projected ...
 2  African countries Asian states European Union ...
 3                  PPP per capita Nominal per capita
 4  Africa PPP nominal Commonwealth of Nations PPP...
 5  Albania Argentina Australia Austria Baltic Sta...
 6  Lists of countries by financial rankings List ...  ,
                    0                                     1
 0  Authority control  Historical Dictionary of Switzerland]

In [7]:
tables[4]

,Rank,2021,2021.1,2014,2014.1,2013,2013.1,2012,2012.1,2011,...,2010,2010.1,2009,2009.1,2008,2008.1,2007,2007.1,2006,2006.1
0,1,United States,23393117,United States,17611491,United States,17001290,United States,16501016,United States,...,United States,15143137,United States,14740580,United States,15002428,United States,14651211,United States,14345565
1,2,China,17576648,China,10096966,China,9110333,China,7934721,China,...,China,5752320,China,4856999,Japan,4835553,Japan,4812119,Japan,4931413
2,3,Japan,5124619,Japan,5339076,Japan,5899905,Japan,6101579,Japan,...,Japan,5376601,Japan,4797984,China,4070860,Germany,3348291,Germany,3160529
3,4,Germany,4350736,Germany,3853623,Germany,3809927,Germany,3754154,Germany,...,Germany,3662524,Germany,3588452,Germany,3601765,China,3283519,China,2685206
4,5,United Kingdom,3170239,France,2844284,France,2869883,France,2824713,France,...,France,2847703,France,2831553,United Kingdom,2904224,United Kingdom,2835805,United Kingdom,2645489
5,6,India,3123967,United Kingdom,2801499,United Kingdom,2695974,United Kingdom,2612525,United Kingdom,...,United Kingdom,2540957,United Kingdom,2666939,France,2800864,France,2576642,France,2414820
6,7,France,3002339,Brazil,2429720,Brazil,2486874,Brazil,2432061,Italy,...,Italy,2234508,Italy,2227358,Italy,2222143,Italy,2093640,Italy,1989288
7,8,Italy,2125095,Italy,2147247,Italy,2130760,Italy,2143583,Brazil,...,Brazil,1916260,Brazil,1572431,Spain,1490975,Canada,1356017,Spain,1241641
8,9,Canada,1975687,India,2027964,Russia,1981791,India,1892548,India,...,India,1555615,Spain,1519339,Canada,1484345,Spain,1353031,Canada,1224994
9,10,South Korea,1820500,Russia,1930634,India,1952847,Russia,1823299,Canada,...,Canada,1511465,Canada,1447937,Brazil,1427429,Brazil,1152772,South Korea,966585
10,11,Russia,1732532,Canada,1785099,Canada,1848274,Canada,1773264,Russia,...,Spain,1496363,India,1392779,Russia,1368593,India,1117463,India,941326
11,12,Brazil,1558511,Australia,1444201,Australia,1514269,Spain,1396221,Spain,...,Russia,1425123,Russia,1318495,India,1229139,South Korea,1091726,Mexico,921879
12,13,Australia,1528228,Spain,1366027,Spain,1376929,Australia,1359417,South Korea,...,South Korea,1053302,South Korea,1037381,South Korea,1118647,Russia,1079991,Brazil,898063
13,14,Spain,1432586,South Korea,1365797,South Korea,1298958,South Korea,1232164,Australia,...,Mexico,1026316,Mexico,988663,Mexico,1074555,Mexico,1000700,Russia,830146
14,15,Mexico,1260700,Mexico,1237533,Mexico,1202800,Mexico,1167292,Mexico,...,Australia,1025186,Australia,954754,Australia,900062,Netherlands,809106,Netherlands,753205

In [6]:
tables[3]

  No.         Country GNI (Atlas method)[8]            GNI[9]          \
  No.         Country             value (a) a - GDP value (b) b - GDP
0   1   United States              20636317   91974  20837347  293004
1   2           China              13181372 -426779  13556853  -51298
2   3           Japan               5226599  255276   5155423  184100
3   4         Germany               3905321  -42299   4058030  110410
4   5          France               2855844  -45685   2832584   43684
5   6  United Kingdom               2777405  -77891   2816805  -38491
6   7           India               2727893    9161   2691040  -27692
7   8           Italy               2038376  -45488   2106525   22661
8   9          Brazil               1902286   16804   1832170  -53312
9  10          Canada               1665565  -47776   1694054  -19287

    GDP[10]
    GDP[10]
0  20544343
1  13608151
2   4971323
3   3947620
4   2804484
5   2855296
6   2718732
7   2083864
8   1885482
9   1713341

In [20]:
df = tables[3].droplevel(0, axis = 1)\
.rename(columns = {'No.':'No', 'GDP[10]':'GDP'})\
.set_index('No')

In [21]:
df

           Country  value (a)  a - GDP  value (b)  b - GDP       GDP
No
1    United States   20636317    91974   20837347   293004  20544343
2            China   13181372  -426779   13556853   -51298  13608151
3            Japan    5226599   255276    5155423   184100   4971323
4          Germany    3905321   -42299    4058030   110410   3947620
5           France    2855844   -45685    2832584    43684   2804484
6   United Kingdom    2777405   -77891    2816805   -38491   2855296
7            India    2727893     9161    2691040   -27692   2718732
8            Italy    2038376   -45488    2106525    22661   2083864
9           Brazil    1902286    16804    1832170   -53312   1885482
10          Canada    1665565   -47776    1694054   -19287   1713341

In [23]:
df.to_csv('Gross_national_income.csv')